@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
@font-face {
  font-family: "fleshandblood";
  src: url("fleshandblood.woff2") format("woff2"), url("fleshandblood.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.menu-toggle {
  display: none;
}

body {
  background-color: #080705;
  color: #fffffa;
}

body a {
  color: #fffffa;
  text-decoration: none;
}

.myButton {
  -webkit-box-shadow: inset 0px -3px 7px 0px #912f40;
          box-shadow: inset 0px -3px 7px 0px #912f40;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #912f40), to(#8d1b2e));
  background: linear-gradient(to bottom, #912f40 5%, #8d1b2e 100%);
  background-color: #912f40;
  border-radius: 3px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  font-family: "montserrat", sans-serif;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #662626;
}

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #8d1b2e), to(#912f40));
  background: linear-gradient(to bottom, #8d1b2e 5%, #912f40 100%);
  background-color: #8d1b2e;
}

.myButton:active {
  position: relative;
  top: 1px;
}

header {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header .navBar {
  padding: 1%;
  height: 60px;
  background-color: #211f2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .navBar .logo {
  background-color: #080705;
  padding: 2% 2% 0%;
  border-radius: 10px;
  font-size: 1.5em;
  margin-left: 2%;
  color: white;
  font-family: "fleshandblood", sans-serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

header .navBar .logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navBar .logo span {
  font-family: "fleshandblood", sans-serif;
  color: #ff002b;
  font-weight: bold;
}

header .navBar .menu-button {
  font-size: 2em;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

header .navBar .toggle {
  display: none;
  position: absolute;
  top: 63px;
  right: 0px;
  text-align: center;
  background-color: #211f2a;
  padding: 20px;
  width: 100%;
  margin: -3px auto;
  border-top: 1px solid;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

header .navBar .toggle li a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  display: block;
  padding: 10px 0;
  color: #fffffa;
}

header .navBar .toggle li a:hover {
  color: red;
}

header .navBar .menu-toggle:checked + .toggle {
  display: block;
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .loginContainer {
  background: black;
  background: linear-gradient(183deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.514) 51%, #2d0000 100%);
  width: 300px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  border-radius: 15px;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.login .loginContainer .loginContent {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.login .loginContainer .loginContent label {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.login .loginContainer .loginContent p {
  padding: 2%;
}

.login .loginContainer .loginContent i {
  color: #fffffa;
}

.login .loginContainer:hover .loginContent {
  opacity: 1;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0;
}

.container .card {
  position: relative;
  width: 300px;
  height: 370px;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 20px;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.container .card .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .content .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
}

.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .card .content .contentBx {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.container .card .content .contentBx h3 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  margin: 20px 3px 10px;
  line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
  font-size: 15px;
  font-weight: 300;
  text-transform: initial;
}

.sci {
  position: absolute;
  bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0rem;
}

.sci li {
  list-style: none;
  margin: 0 10px;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  -webkit-transition-delay: calc(0.1s var(--i));
          transition-delay: calc(0.1s var(--i));
}

.sci li a {
  color: #fff;
  font-size: 24px;
}

.container .card:hover .content {
  opacity: 1;
}

.container .card:hover .sci li {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}
/*# sourceMappingURL=style2.css.map */