@font-face {
    font-family: "fleshandblood";
    src: url(./Assets/fleshandblood.woff2) format("woff2"),
      url(./Assets/fleshandblood.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
  
  //!COLORES PRINCIPALES///////////////////
  $rich-black-fogra-39: rgba(8, 7, 5, 1);
  $charcoal: rgb(58, 60, 68);
  $wine: rgb(141, 27, 46);
  $red-violet-color-wheel: rgba(145, 47, 64, 1);
  $baby-powder: rgba(255, 255, 250, 1);
  
  //!RESETS///////////////////////////////////
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Montserrat", sans-serif;
  }
  
  .menu-toggle {
    display: none;
  }
  body {
    background:url(./trianglify-lowres.png);
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: $rich-black-fogra-39;
    color: $baby-powder;
    a {
      color: $baby-powder;
      text-decoration: none;
      &:hover{
          color: red;
          text-shadow: 0px 0px 13px rgba(255, 255, 255, 0.3)
      }
    }
  }
  
  .title {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 10px 10px 0px;
    padding: 10px;
  
    text-shadow: 0px 0px 13px rgba(255, 255, 255, 0.3);
  }
  //!!!!!!!BOTONES//////////////////////////////
  .myButton {
    box-shadow: inset 0px -3px 7px 0px $red-violet-color-wheel;
    background: linear-gradient(
      to bottom,
      $red-violet-color-wheel 5%,
      $wine 100%
    );
    background-color: $red-violet-color-wheel;
    border-radius: 3px;
    border: 1px solid #0b0e07;
    display: inline-block;
    cursor: pointer;
    font-family: "montserrat", sans-serif;
    font-size: 15px;
    padding: 9px 23px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #662626;
  }
  .myButton:hover {
    background: linear-gradient(
      to bottom,
      $wine 5%,
      $red-violet-color-wheel 100%
    );
    background-color: $wine;
  }
  .myButton:active {
    position: relative;
    top: 1px;
  }
  
  header .navBar .navBar2{
    display: none;
  }
  //!header
  
  header {
    z-index: 3;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    .navBar {
      padding: 1%;
      height: 60px;
      background-color: rgb(33, 31, 42);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      .logo {
        background-color: $rich-black-fogra-39;
        padding: 2% 2% 0%;
        border-radius: 10px;
        font-size: 1.5em;
        // margin-top: 2%;
        margin-left: 2%;
        color: white;
        font-family: "fleshandblood", sans-serif;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          transform: scale(1.05);
          transition: 0.5s;
        }
        span {
          font-family: "fleshandblood", sans-serif;
          color: #ff002b;
          font-weight: bold;
        }
      }
  
      .menu-button {
        font-size: 2em;
        padding: 5px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
      }
  
      .toggle {
        display: none;
        position: absolute;
        top: 63px;
        right: 0px;
        text-align: center;
        background-color: rgb(33, 31, 42);
        padding: 20px;
        width: 100%;
        margin: -3px auto;
        border-top: 1px solid;
        backdrop-filter: blur(10px);
        li {
          a {
            font-family: "Montserrat", sans-serif;
            text-decoration: none;
            list-style: none;
            display: block;
            padding: 10px 0;
            color: $baby-powder;
            &:hover {
              color: red;
            }
          }
        }
      }
  
      .menu-toggle:checked + .toggle {
        display: block;
        transform: translate(0%);
      }
    }
  }
  
  //!LOGIN
  
  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  
  .login .loginContainer {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      183deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.514) 51%,
      rgba(45, 0, 0, 1) 100%
    );
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    .loginContent {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      opacity: 0.5;
      transition: 0.5s;
      padding: 10px;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      h1 {
        font-family: "fleshandblood", sans-serif;
        font-weight: bold;
        font-size: 2.2em;
        text-shadow: 0px 0px 13px rgba(255, 255, 255, 0.3);
      }
      span {
        font-family: "fleshandblood", sans-serif;
        color: red;
      }
      label {
        font-size: 1.1em;
        font-weight: bold;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 2px;
      }
      p {
        padding: 2%;
      }
      i {
        color: $baby-powder;
      }
      input{
        padding: 1%;
      }
    }
  }
  
  .login .loginContainer:hover .loginContent {
    opacity: 1;
  }
  
  //!footer////////////////////////////////////////////////
  
  footer {
    margin-top: 30px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 31, 42);
    border-top: 1px solid $charcoal;
    backdrop-filter: blur(10px);
    .box-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .box {
        padding: 2%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        border: 1px solid $charcoal;
        h3 {
          margin: 0;
        }
        p {
          text-align: center;
        }
      }
      .info {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: center;
        i {
          font-size: 20px;
          margin: 15px;
          position: relative;
          text-shadow: 0px 0px 13px rgba(255, 255, 255, 0.3);
        }
      }
    }
  
    .hechoPor {
      border-top: 1px solid $charcoal;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        text-align: center;
        margin-top: 0px;
      }
    }
  
    .container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 40px 0px 10px;
  
      .card {
        position: relative;
        width: 300px;
        height: 370px;
        background-color: rgba(0, 0, 0, 0.1);
        margin: 20px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
      }
    }
  
    .container .card .content {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0.5;
      transition: 0.5s;
  
      .imgBx {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        overflow: hidden;
        border: 10px solid rgba(0, 0, 0, 0.25);
  
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      .contentBx {
        font-size: 12px;
        font-weight: 300;
        text-transform: initial;
  
        h3 {
          font-family: "Montserrat", sans-serif;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 500;
          font-size: 15px;
          text-align: center;
          margin: 20px 3px 10px;
          line-height: 1.1em;
  
          span {
            font-size: 15px;
            font-weight: 300;
            text-transform: initial;
          }
        }
      }
    }
  
    .sci {
      position: absolute;
      bottom: 30px;
      display: flex;
      padding-left: 0rem;
  
      li {
        list-style: none;
        margin: 0 10px;
        transform: translateY(40px);
        transition: 0.5s;
        opacity: 0;
        transition-delay: calc(0.1s var(--i));
  
        a {
          color: #fff;
          font-size: 24px;
        }
      }
    }
    .container .card:hover {
      background: rgba(0, 0, 0, 0.3);
      transition: 1s;
    }
    .container .card:hover .content {
      opacity: 1;
    }
  
    .container .card:hover .sci li {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  
  @media (min-width: 576px) {
    header .navBar .logo {
      padding: 1% 2% 0%;
    }
  }
  
  @media (min-width: 768px) {
    header .navBar .logo{
      padding: 1% 2% 0%;
      font-size: 1.6em;
    }
    .bienvenidos .description{
      flex-direction: row;
      height: 480px;
      p{
        position: relative;
      top: -436px;
      left: 295px;
      width: 404px;
      height: 435px;
      }
    }
    footer{
      flex-direction: row;
      align-items: center;
    }
  }
  
  @media(min-width:1024px) {
    header .navBar .menu-button{
      display: none;}
    header .navBar{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .navBar2{
        position: relative;
        top: 8px;
        display: flex;
        padding: 2%;
        .navLinks{
          margin-left: 2em;
          align-items: center;
          }
      }
    }
    }
  