@font-face {
  font-family: "fleshandblood";
  src: url("fleshandblood.woff2") format("woff2"),
    url("fleshandblood.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-toggle{
    display: none;
}

body {
  background-color: black;
  color: white;
}

//*Header

header {
  display: flex;
  flex-direction: column;
  .navBar {
    padding: 1%;
    height: 60px;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    .logo {
      padding: 2%;
      border-radius: 5px;
      font-size: 2em;
      margin-top: 2%;
      margin-left: 2%;
      color: white;
      font-family: "fleshandblood", sans-serif;
      font-weight: bold;
      text-decoration: none;
      &:hover{
          transform: scale(1.1);
          transition: 1s;
      }
      span {
        color: red;
      }
    }
    
    .menu-button{
        font-size: 2em;
        padding: 5px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        background-color: #0a66c3;
    }
    
    .toggle{
        display: none;
        position: absolute;
        top: 64px;
        right: 0px;
        text-align: center;
        background-color: rgb(24, 24, 24);
        padding: 20px;
        width: 100%;
        margin: -3px auto;
        transform-origin: top;
        transition: 2s linear;
        li{
            a{
            text-decoration: none;
            list-style: none;
            display: block;
            padding: 10px 0;
            color: white;
            &:hover{
                color: red;
            }
            }
        }
    }

    .menu-toggle:checked+ .toggle{
        display: block;
    }
    // ul {
    //   display: none;
    //   background-color: rgb(24, 24, 24);
    //   position: absolute;
    //   top: 4em;
    //   right: 1em;
    // }
  }
}


/////////////////////
//*main
.bienvenidos {
  h1 {
    text-align: center;
    color: white;
    span {
      color: red;
      font-family: "fleshandblood", sans-serif;
    }
  }
  .doll {
    width: 160px;

  }
}

//*footer

///////////////////////////////
//!mediaQueries

// @media (max-width: 768px) {
//     .hamburguer{
//     display: none;
//     }
// }